/llvm-project
/mingw-w64
/lldb-mi
/make-*
/libffi
/cpython*
/python-native
/toolchain
/wrapper
/x86_64-w64-mingw32
/test
/llvm-project
/mimalloc
/mingw-w64
/my_linux
/gcc*
/zlib*

# Build directories anywhere in the tree
**/build*/

# Build artifacts
*.zip
*.tar
*.tar.gz
*.tar.xz
*.tar.bz2
*.o
**/*.o